// Copyright 2019 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

@import '../style.less';

.buildPage {
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        h1 {
            margin-left: 15px;
            margin-bottom: 0px;
            word-wrap: anywhere;
            word-break: break-all;

            span {
                color: var(--colorGrey);
            }
        }
    }

    @media only screen and (max-width: 650px) {
        .title {
            flex-direction: column;
            align-items: flex-start;

            h1 {
                margin-left: 0px;
                margin-top: 8px;
            }
        }
    }

    .subtitle {
        color: var(--colorGrey);
        display: inline-block;
        margin-bottom: 25px;

        * {
            vertical-align: middle;
        }

        img {
            margin-left: 0px;
            margin-right: 10px;
            width: 24px;
        }

        span:first-of-type {
            margin-left: 0px;
        }

        span {
            margin-left: 15px;
            margin-bottom: 8px;
            display: inline-block;
            word-break: break-all;
        }

        .ownerName {
            font-weight: 600;

            span {
                margin-bottom: 0;
            }
        }
    }

    .tabNavigation {
        margin-bottom: -7px;

        .tabItem {
            border-bottom: 1px solid @primary-color;
            padding-bottom: 7px;
        }
    }

    .buildConsole {
        width: 100%;
        background: #151515;
        color: white;
        padding: 10px 25px;
        min-height: 300px;

        pre {
            white-space: pre-line;
            word-wrap: break-word;
        }
    }
}
