// Copyright 2019 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

@import '../../../../../style/index.less';

.container {
    display: flex;
    flex-wrap: wrap;
}

.theme {
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover {
        div:first-child {
            opacity: .7;
        }
    }

    div:first-child {
        height: 50px;
        width: 115px;
        border-radius: 4px;
        margin-bottom: 10px;
        border: 2px solid transparent;
        transition: opacity .15s;
    }

    div:first-child.active {
        border: 2px solid @primary-color;
    }

    .light {
        background: #ededed;
    }

    .dark {
        background: #262c30;
    }
}
